/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { scroll-behavior: smooth; }

body {
  font-family: "Inter", "Segoe UI", sans-serif;
  background: #07070c;
  color: #eaeaf0;
  line-height: 1.8;
}

/* HERO */
.hero {
  min-height: 100vh;
  background:
    radial-gradient(circle at left, rgba(124,58,237,0.3), transparent 45%),
    linear-gradient(180deg, #07070c, #0c0c18);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  max-width: 1100px;
  width: 100%;
  display: flex;
  gap: 70px;
  padding: 40px 20px;
}

.profile-photo {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid rgba(124,58,237,0.7);
  box-shadow: 0 0 35px rgba(124,58,237,0.5);
}

.intro {
  color: #a78bfa;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.hero-text h1 {
  font-size: 3.2rem;
  margin: 12px 0;
}

.description {
  color: #c7c7dd;
  max-width: 520px;
  margin-bottom: 30px;
}

/* BUTTONS */
.btn {
  padding: 12px 30px;
  border-radius: 8px;
  text-decoration: none;
  margin-right: 12px;
}

.primary {
  background: #7c3aed;
  color: #fff;
}

.secondary {
  border: 1px solid #7c3aed;
  color: #c4b5fd;
}

/* SECTIONS */
section {
  max-width: 1100px;
  margin: auto;
  padding: 90px 20px;
  text-align: center;
}

h2 {
  margin-bottom: 30px;
}

/* ABOUT */
.about-card {
  background: #0f0f1a;
  padding: 40px;
  border-radius: 18px;
  max-width: 800px;
  margin: auto;
  box-shadow: 0 0 30px rgba(124,58,237,0.15);
}

/* SKILLS */
.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
  gap: 30px;
  margin-top: 40px;
}

.skill-card {
  background: #0f0f1a;
  padding: 35px;
  border-radius: 18px;
  transition: 0.3s;
}

.skill-card:hover {
  transform: translateY(-6px);
  background: #15152a;
}

/* PROJECTS */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
  gap: 30px;
  margin-top: 40px;
}

.project-card {
  background: linear-gradient(160deg,#0f0f1a,#15152a);
  padding: 35px;
  border-radius: 20px;
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(124,58,237,0.3);
}

/* CERTIFICATES */
.cert-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.cert-card {
  background: #1f1f2f;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #444;
  text-align: center;
}

.cert-card img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}


/* CONTACT */
.contact a {
  color: #a78bfa;
  text-decoration: none;
}

/* FOOTER */
.footer {
  background: #07070c;
  padding: 20px;
  text-align: center;
  color: #8b8bb5;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .hero-content {
    flex-direction: column;
    text-align: center;
  }
}

